body {
	font-family: 'Inconsolata', Courier;
	margin: 0;
}
.main-header {
	background-image: url("https://ustunozgur.com/images/xyz.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	height: 60vh;
	padding-top: 400px;
}
.header {
	background: rgba(0, 0, 0, 0.4);
	width: 38%;
	margin: 0 auto;
	padding: 8px;
	color: white;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
}
.sub-header {
	font-size: 28px;
	width: 30%;
	margin: 20px auto 0;
}
.services {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0 16px 0;
}
.services .title.sub-title {
	font-size: 20px;
	padding-bottom: 16px;
}
.services > .title {
	font-weight: bold;
	font-size: 38px;
}
.items {
	padding: 70px 0;
}
.items .item {
	display: inline-flex;
	flex-direction: column;
	width: 30%;
}
.items .item:not(:last-of-type) {
	margin: 0 0 70px 0;
}
.items .item .fa {
	color: #4B83E7;
}
.items .item .title {
	padding: 16px 0 8px 0;
	font-weight: bold;
}
.cta {
	height: 105vh;
	background-color: #F7F7F7;
	text-align: center;
	padding: 80px 0 20px 0;
}
.cta .title {
	font-size: 38px;
	font-weight: bold;
}
.cta .sub-title {
	font-size: 16px;
	padding-top: 20px;
}
.cta .form {
	padding-top: 40px;
}
.footer {
	padding: 20px 0 0 0;
	background-color: #222225;
	height: 10vh;
	color: rgb(255, 255, 255);
	text-align: center;
}
